{:kotoba.app/id "cloud.itonami.isic-9311", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreib6gybwbrhbq66o3hprti5uxjcncjegjyzxlivfeetow722gnlily", :kotoba.app/embed-url "ipfs://bafkreib6gybwbrhbq66o3hprti5uxjcncjegjyzxlivfeetow722gnlily", :published {:archive "https://kotobase.net/ipfs/bafkreib6gybwbrhbq66o3hprti5uxjcncjegjyzxlivfeetow722gnlily", :size 75009, :put-status 201, :get-status 200, :at "2026-08-15T14:04:36.574Z"}}
